html, body{
    margin: 0;    
	height: 100vh;
	
	text-align: center;
}


header {
	height: 80px;

	color: rgb(255, 255, 255);
	background-color: rgb(97, 199, 199);		
}

footer {	
	clear: both;
    height: 50px;

	text-align: center;
	
	color: rgb(190, 226, 226);
	background-color: rgb(97, 199, 199);
}

a {
	color: rgb(97, 199, 199);
	margin: 0 15px 0 15px;
}

a:active {
	background-color: rgb(47, 128, 128);
}

.section {
	height: calc(100vh - 130px);
}

.input {
	width: 10%;
	margin: 0 15px 0 15px;
}

.input.date {
	width: 20%;
}

.field.control.select.is-primary {
	margin: 0 15px 0 15px;
}

.button.is-link {
	color: rgb(97, 199, 199);
	background-color: rgb(216, 247, 247);
}

.button.is-link:hover {
	color: rgb(62, 133, 133);	
	background-color: rgb(203, 236, 236);
}

.button.is-link.red {
	position:absolute;
	right: 0;
	color: rgb(216, 247, 247);
	background-color: rgb(230, 82, 36);	
}

.button.is-link.red:hover {
	color: rgb(203, 236, 236);
	background-color: rgb(214, 72, 28);	
}

.container {
	text-align: center;
}

